body {
  margin: 0;
  background-image: url('images/bg.jpg');
}

h1,
h2,
nav {
  font-family: 'Amatic SC', cursive;
}

h1 {
  background-color: white;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav {
  font-size: 1.5rem;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: darkgreen;
  text-decoration: none;
}

.main {
  font-size: 1rem;
  max-width: 600px;
  background: white;
  padding: 1rem;
  border-radius: 3px;
  margin: 2rem auto;
}